@import 'src/styles/colors';

.mainBackground{
  background-repeat: no-repeat;
  background-image: url('../../assets/images/frontMainXXlZip.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-color: $main_light;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

@media(max-width: 600px) {
  .mainBackground{
    background-position: 50% 75%;
    background-image: url('../../assets/images/frontMainM.webp');
    height: 92vh
  }
}
