@import 'src/styles/colors';

.wraper{
  background-color: $beige;
}

.link_navbar{
  color: $grey;
  text-decoration: none;
}

.logo{
  width: 100%;
}

.wraper_container{
}

.social{
  border-left: solid 1px black;
  padding-left: 1rem
}

@media(max-width: 600px) {
  .wraper_container{
    width: 70vw;
  }
  .social{
    border-left: none;
    padding-left: 0
  }
}

@media(max-width: 330px) {
  .wraper_container{
    width: 60vw;
  }
}