@import 'src/styles/colors';
@import 'src/styles/all';

.button{
  border-color: $purple !important;
}
.about_img{
  margin-top: 10vh;
}

@media(max-width: 600px) {
  .about_img{
    margin-top: 2vh;
  }
}